
/* A3 Paper Setup */
@page  {
  size: A3 portrait;
  margin: 0;
}
body {
  margin: 0;
}

article {
  width: 297mm;
  height: 419mm
}

@media screen {
  article {
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 1rem auto;
  }
}
